<h4><%= link_to 'Home page', root_path %></h4>

<h1>You can invite your friend.</h1>

<%= form_for @invite, url: {action: "create"} do |f| %>
    <%= f.email_field :email %>
    <%= f.submit "Send" %>
<% end %>