<h1>Hello, <%= current_user.try(:email) || 'Anonymous' %></h1>

<% if user_signed_in? %>
    <ul>
        <li>
            <%= link_to 'Invite friend', new_invites_path %>
        </li>
        <li>
            <%= link_to 'Sing out', destroy_user_session_path, :method => :delete %>
        </li>
    </ul>
<% else %>
    <ul>
        <li>
            <%= link_to 'Sing in', new_user_session_path %>
        </li>
        <li>
            <%= link_to 'Sing up', new_user_registration_path %>
        </li>
    </ul>


<% end %>